/*ZASTOSOWANIE DLA CALEGO DOKUMENTU*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* Ustawienie BODY */

body {
  background: linear-gradient(lightblue, #FFF);
  height: 120vh;
}

/*Header - ekran rozpoczęcia gry */

header {
  display: flex;
  margin-top: 14em;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 62px;
  font-weight: bold;
  color: #293264;
}

.title-paragraph {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  color: #293264;
}

.start-game-btn {
  max-width: 600px;
  background: #293264;
  border: none;
  color: #FFF;
  padding: 1.5em 3em;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.start-game-btn:hover {
  background: #FFF;
  color:#293264;
  border: 2px solid #293264;
  font-weight: bold;
  opacity: .4;
}

/* Ekran z pytaniami (component questions) */

main {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*Sekcja pojedynczego pytania */

.single-question {
  border: 1px solid black;
  border-radius: 15px;
  min-width: 700px;
  margin: 1em 1.5em;
  padding: 1em;
  text-align: center;
  box-shadow: 1px 1px 1px 1px;
}

/*div dla odpowiedzi */

.answers-container {
  display: flex;
  justify-content: center;
  gap: .9em;
  width: 90%;
  margin: .7em auto 0;
}

/*stylowanie przycisku odpowiedzi */

.single-button {
  background: none;
  padding: .5em .7em;
  cursor: pointer;
}

.single-button.selected {
  border: 2px solid red;
}

.single-button:hover{
  border: 1px solid #232323;
  font-weight: bold;
}

/*Przycisk Sprawdzania odpowiedzi */

.check-ans-btn {
  margin: 2em 0;
  background: none;
  padding: 1em 2em;
  cursor: pointer;
}